.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
	font-size: 100%;
} /*16px*/

body {
	background: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.75;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

.home,
.about,
.contact,
.sign-up,
.error-page,
.dashboard,
.profile-form {
	height: 95vh;
	margin-top: 88px;
}

.home {
	/* position: relative; */
	background-image: url(./Assets/collegeImg.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.landing {
	max-width: 65vw;
	background-color: transparent;
	/* color: #fff; */
}

.about {
	min-height: 90vh;
	background-color: #f0f1f0;
	position: relative;
	color: #000000;
}

.sign-up input {
	width: 23rem;
}

.contact {
	min-height: 90vh;
	/* background-color: #fff; */
}

.contact-box {
	width: 95%;
	height: 90%;
}

.contact-box input {
	padding: 1rem 0.3rem;
}

.contact-box .left {
	width: 90%;
}

.card .card-left {
	background-image: url(./Assets/about.jpg);
	background-position: center;
	background-size: cover;
	height: 80vh;
}

.about .card {
	min-width: 90%;
	min-height: 80vh;
	/* background: #ffffff;
box-shadow:  -20px 20px 60px #d9d9d9,
             20px -20px 60px #ffffff; */
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.navbar li {
	display: table-cell;
	position: relative;
}

.navbar .navlink a {
	text-decoration: none;
	color: #2563eb;
	display: inline-block;
	position: relative;
}

.navbar .navlink a::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	border-radius: 5rem;
	left: 50%;
	position: absolute;
	background: #2563eb;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.navbar .navlink a:hover:after {
	width: 100%;
	left: 0;
}

.login .right {
	background: #ffffff;
	box-shadow: -2px -2px 15px #d9d9d9, 2px 2px 15px #ffffff;
}

.login input {
	transition: all ease-in-out 0.3s;
}
.footer {
	background-color: #e2e9f1;
}

.footer .page-links li:hover {
	color: #2563eb;
	transform: translateX(5px);
}
.footer .icon,
.login .icon,
.login button,
.footer .page-links li,
.btn {
	transition: all ease-in-out 0.3s;
}

/* this is the logout styles */

.dropbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 48px;
	width: 48px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	transform: translateX(-20px);
	background-color: #fff;
	padding: 5px 12px;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* loading animation */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

.spinner-box {
	background-color: transparent;
}

.three-quarter-spinner {
	width: 50px;
	height: 50px;
	border: 3px solid #536ffb;
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 0.5s linear 0s infinite;
}

/* Profile - Form Styles */

.profile-form form {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-form form .details {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.custom-field {
	position: relative;
	font-size: 14px;
	border-top: 20px solid transparent;
	margin-bottom: 5px;
	display: inline-block;
	--field-padding: 12px;
}

.custom-field input {
	min-width: 25rem;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #f2f2f2;
	padding: var(--field-padding);
	border-radius: 3px;
	width: 250px;
	outline: none;
	font-size: 14px;
}

.custom-field .placeholder {
	position: absolute;
	left: var(--field-padding);
	width: calc(100% - (var(--field-padding) * 2));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	top: 22px;
	line-height: 100%;
	transform: translateY(-50%);
	color: #aaa;
	transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
	top: -10px;
	font-size: 10px;
	color: #405ba6;
}

.custom-field.two input {
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: linear-gradient(90deg, #405ba6, #405ba6) center bottom/0 0.15em
			no-repeat,
		linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
		linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
	transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
	background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.dashboard .item {
	width: 15rem;
	display: flex;
	gap: 3rem;
}

.dashboard .student-details {
	width: 50%;
	margin: auto;
}
