@import url("https://fonts.googleapis.com/css?family=Poppins:400");
* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
html {
	font-size: 100%;
} /*16px*/

body {
	background: white;
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
	text-align: center;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.75;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

.home,
.about,
.contact,
.sign-up,
.login,
.error-page,
.dashboard,
.profile-form,
.admin-login,
.admin-dashboard,
.update-form,
.message {
	min-height: 95vh;
	margin-top: 6rem;
	padding: 2rem 8rem;
}
.footer-social li,
.resultbtn,
.login input,
.footer .icon,
.login .icon,
.login button,
.footer .page-links li,
.btn {
	transition: all ease-in-out 0.3s;
}

a {
	text-decoration: none;
	color: #000000;
}

ul li {
	list-style: none;
}

.carousel-wrapper {
	padding: 2rem 8rem;
}

.carousel-wrapper div {
	padding: 0 1rem;
}

.carousel-wrapper img {
	width: 100%;
}

.navbar {
	padding: 0 8rem;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}

.logo {
	max-width: 20rem;
}

.navbar ul {
	display: flex;
	gap: 1.75rem;
	align-items: center;
}

.navbar li {
	display: table-cell;
	position: relative;
}

.navbar .navlink a {
	text-decoration: none;
	color: #2563eb;
	display: inline-block;
	position: relative;
}

.navbar .navlink a::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	border-radius: 5rem;
	left: 50%;
	position: absolute;
	background: #2563eb;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.navbar .navlink a:hover:after {
	width: 100%;
	left: 0;
}

.home {
	background: url(./Assets/collegeImg.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: calc(60%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.landing {
	max-width: 60%;
	background-color: transparent;
}

.btn {
	padding: 0.75rem 2rem;
	max-width: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #2563eb;
	color: #fff;
	border: 2px solid #2563eb;
}

.btn:hover {
	color: #2563eb;
	background-color: transparent;
}

.contact h1 {
	text-transform: capitalize;
}

.contact .contact-box {
	display: flex;
}

.contact-box form {
	max-width: 70%;
	margin: auto;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.contact-box form input,
.contact-box form textarea {
	padding: 0.5rem 0.75rem;
	outline: none;
	border: 2px solid #ebebeb;
}

.contact-box form input:focus,
.contact-box form textarea:focus {
	-webkit-box-shadow: 3px 3px 10px 3px #dddddd;
	-moz-box-shadow: 3px 3px 10px 3px #dddddd;
	box-shadow: 3px 3px 10px 3px #dddddd;
}

.contact-box .left {
	width: 90%;
}

.contact-box .right .top {
	display: flex;
	flex-direction: column;
}

.contact-box .top table tr {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.about {
	background-color: #f0f1f0;
	color: #000000;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .card {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}
.about .card:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.card .card-left {
	height: 75vh;
	width: 40%;
}

.card .card-left img {
	width: 100%;
	height: 100%;
}

.card .card-right {
	width: 50%;
	margin-left: 2rem;
}

.sign-up {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-up .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sign-up .sign-form {
	text-align: left;
	border: 2px solid #f9e3e3;
	padding: 4rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sign-up form {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.sign-up input,
.login-right form input {
	width: 23rem;
	border: 2px solid #f9e3e3;
	padding: 0.75rem 1rem;
	border-radius: 0.3rem;
	outline: none;
}

.sign-up input:focus,
.login-right form input:focus {
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}

.sign-form p {
	text-align: left;
}

.sign-form label {
	text-align: left;
}
.sign-form a {
	color: #2563eb;
	font-weight: bold;
}

.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login .login-left {
	width: 50%;
}

.login-left img {
	width: 100%;
}

.login .login-right {
	text-align: left;
	padding: 1rem 3rem;
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}

.login-right form {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.login-right p {
	text-align: left;
}

.login-right .sign-op {
	display: flex;
	justify-content: space-between;
}

.login-right div {
	text-align: center;
}

.login-right ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.login-right .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}

.icon a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-right .icon:hover {
	transform: translateY(-5px);
}

.footer {
	background-color: #e2e9f1;
	padding: 2rem 8rem;
}

.footer .footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footer-social ul {
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
}

.footer-social a {
	justify-content: center;
	align-items: center;
	display: flex;
}

.footer-social li {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 50%;
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}
.footer-social li:hover {
	transform: translateY(-5px);
}
.footer-right {
	display: flex;
	gap: 3rem;
}

.footer .page-links {
	text-align: left;
}

.footer .page-links li:hover {
	color: #2563eb;
	transform: translateX(5px);
}

.footer .line {
	border-radius: 1rem;
	margin: 1rem auto;
	height: 2px;
	width: 90%;
	background-color: #fff;
}

.profile-form {
	display: flex;
}

.dashboard-service {
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 10rem;
}

.service-box {
	outline: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	min-width: 12rem;
	padding: 1rem;
	-webkit-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	-moz-box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
	box-shadow: -0.5px 7px 14.5px 0.5px #dddddd;
}

.service-box img {
	width: 4rem;
}

.dashboard .item {
	width: 15rem;
	display: flex;
	gap: 3rem;
}

.dashboard .student-details {
	width: 50%;
	margin: auto;
}

.dashboard table {
	width: 60%;
}

/* .dashboard table tr {
	width: 40%;
} */

.dashboard table td:nth-child(even) {
	width: 60%;
}

.resultbtn {
	outline: none;
	border: none;
	background-color: #f3f3f3;
	min-width: 8rem;
	padding: 1rem 3rem;
	cursor: pointer;
	font-size: 1rem;
	border-bottom: 2px solid #2563eb;
}

.resultbtn:hover {
	color: white;
	background-color: #2563eb;
	border-bottom: 2px solid #000;
}

.dashboard table,
.dashboard table tr,
.dashboard table td {
	margin: auto;
	border: 1px solid #000;
}

/* this is the logout styles */

.dropbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 48px;
	width: 48px;
	font-size: 16px;
	border-radius: 50%;
	border: none;
}
.dropbtn img {
	width: 3rem;
	border-radius: 50%;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	transform: translateX(-20px);
	background-color: #fff;
	padding: 5px 12px;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* loading animation */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

.spinner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	height: 95vh;
	width: 100%;
}

.three-quarter-spinner {
	width: 50px;
	height: 50px;
	border: 3px solid #536ffb;
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 0.5s linear 0s infinite;
}

/* Profile - Form Styles */

.profile-form form {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-form form .details {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.custom-field {
	position: relative;
	font-size: 14px;
	border-top: 20px solid transparent;
	margin-bottom: 5px;
	display: inline-block;
	--field-padding: 12px;
}

.custom-field input {
	min-width: 25rem;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #f2f2f2;
	padding: var(--field-padding);
	border-radius: 3px;
	width: 250px;
	outline: none;
	font-size: 14px;
}

.custom-field .placeholder {
	position: absolute;
	left: var(--field-padding);
	width: calc(100% - (var(--field-padding) * 2));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	top: 22px;
	line-height: 100%;
	transform: translateY(-50%);
	color: #aaa;
	transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
	top: -10px;
	font-size: 10px;
	color: #405ba6;
}

.custom-field.two input {
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: linear-gradient(90deg, #405ba6, #405ba6) center bottom/0 0.15em
			no-repeat,
		linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
		linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
	transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
	background-size: 100% 0.15em, 100% 0.1em, 100%;
}

/* admin dashboard  */
.admin-dashboard table tr,
.admin-dashboard table th,
.admin-dashboard table td {
	border: 1px solid #000;
	padding: 1rem 2rem;
}

.admin-dashboard table button {
	outline: none;
	border: none;
	background-color: transparent;
}

.admin-dashboard .all-students {
	margin: auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 8rem;
}

.message {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

/* card styles */

.card-category-1 {
	margin-bottom: 45px;
	text-align: center;
}

.card-category-1 div {
	display: inline-block;
	margin: 10px 5px;
	text-align: left;
}

.basic-card {
	max-width: 25rem;
	height: 18rem;
	position: relative;
	display: flex;
	justify-content: space-between;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
	padding: 30px;
}

.read-more {
	display: block;
	text-align: center;
}
.card-content {
	overflow: hidden;
	height: 10rem;
}

.basic-card .card-title {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
}

.basic-card .card-text {
	line-height: 1.6;
}

.basic-card .card-link {
	padding: 25px;
	width: -webkit-fill-available;
}

.basic-card .card-link a {
	text-decoration: none;
	position: relative;
	padding: 10px 0px;
}

.basic-card .card-link a:after {
	top: 30px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	width: 0;

	-webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
	-moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
	-o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
	width: 100%;
	left: 0;
}

.basic-card-aqua {
	background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
	color: #fff;
}

.basic-card-aqua .card-link {
	border-top: 1px solid #82c1bb;
}

.basic-card-aqua .card-link a:after {
	background: #fff;
}
